/* Scrooll enlaces internos */


/* Estilos de body */


/* Grid */

.grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "header header header" "pricipal principal aside" "footer footer footer";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 5fr 5fr 2fr;
    gap: 1rem;
    align-items: center;
    justify-items: stretch;
}


/* Main */

.principal {
    grid-area: principal;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3;
    display: flex;
}


/* Header */

.fijo {
    grid-area: header;
    justify-items: start;
    position: sticky;
    top: 0;
    z-index: 5;
}


/* Navbar */

.menu__navegacion {
    background-color: #14213D;
    height: 6rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu__link {
    color: #FCA311;
    font-size: 1.3rem;
    padding: 3rem 1.5rem;
}

.menu__link:hover {
    background-color: #FCA311;
    color: #14213D;
}

.menu__logo {
    width: 6rem;
    margin: 1rem;
}


/* Boton de inicio de sesión */

.menu__boton {
    padding: 0.8rem 2rem;
    color: ivory;
    background-color: #FCA311;
    border: black 1px solid;
    display: inline-block;
    position: absolute;
    right: 5.5rem;
    top: 3rem;
    border-radius: 8%;
}

.menu__boton:hover {
    color: #fca211;
    background-color: #141414;
}

.menu__boton:active {
    color: red;
    background-color: black;
}


/* Section */

.seccion {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.seccion--columna {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
}

.titulo {
    font-size: 4rem;
    text-align: left;
    font-weight: 900;
}

.titulo__deco {
    text-decoration: underline #fca211;
}


/* Articulo */

.articulo {
    color: #14213D;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 25rem;
    overflow: hidden;
    margin: 1rem;
    z-index: 1;
    font-size: 1.4rem;
    text-align: center;
}

.articulo__titulo {
    font-size: 2rem;
}

.articulo__titulo--centrado {
    margin: 3rem;
    align-self: center;
}

.articulo--texto {
    width: 60%;
    margin: 4rem;
}

.imagen {
    z-index: 1;
    width: 25rem;
}

.parrafo--espaciado {
    padding: 1rem;
}


/*Aside */

.aside {
    grid-area: aside;
    align-self: center;
    justify-self: center;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    color: #14213D;
    z-index: 1;
    padding: 1rem;
}

.aside__titulo {
    padding: 1rem;
    margin: 1rem;
    font-weight: 800;
    text-decoration: underline;
}

.aside a {
    color: #14213D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: ivory;
    border-radius: 5%;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.aside a:hover {
    color: #FCA311ed;
    background-color: #141414;
    transform: scale(1.3, 1);
}


/* Footer */

.pie {
    grid-area: footer;
    width: 100%;
    justify-items: center;
    align-items: center;
    color: ivory;
    padding: 1rem;
    line-height: 2rem;
    text-align: center;
    background-color: #000000;
    z-index: 5;
}

.pie a {
    color: #FCA311ed;
}


/* .pie__caja {
    margin-top: 1rem;
    display: inline;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
} */

.pie__parrafo {
    font-size: 1rem;
    margin-top: 2rem;
}


/* Tabla */

.tabla {
    justify-self: center;
    border: 1rem #fca211 solid;
    background-color: #14213D;
    border-collapse: collapse;
    z-index: 1;
    align-self: center;
}

.tabla__th {
    color: #ADADAD;
    padding: 1rem;
}

.tabla__td {
    color: #FCA311ed;
    border: 1px #FCA311ed solid;
    padding: 1rem;
}

.tabla__td li {
    list-style: decimal;
    margin: 1rem;
    margin-left: 2rem;
}


/* Formulario */

.formulario {
    align-self: center;
    padding: 2rem;
    width: 90%;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/26/15/54/checklist-1622517__340.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    z-index: 1;
    margin-left: 1rem;
}

.formulario--background__centrado {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/08/07/08/question-1243504_960_720.png);
    background-position: center right;
    background-size: 200px;
    width: 80%;
    padding: 2rem;
    align-self: center;
    align-items: flex-start;
    z-index: 1;
    padding-left: 3rem;
}

.formulario__input {
    margin: 1rem;
    width: 40%;
    font-size: 0.8rem;
    padding: 0.2rem;
    color: black;
    z-index: 1;
}

.formulario label {
    font-weight: 900;
}

.formulario__terminos {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
}

.formulario option {
    color: black;
}

.formulario__consulta {
    display: block;
    margin: 1rem;
    width: 40%;
    height: 200px;
    font-size: 1.2rem;
    padding: 0.2rem;
    text-align: center;
}

.caja {
    display: flex;
    flex-direction: row;
}

.caja label input {
    margin: 00.5rem;
}

.boton {
    font-size: 1rem;
    padding: 0.5rem;
    width: 9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ivory;
    background-color: #FCA311;
    border: black 1px solid;
    margin: 0.5rem;
    border-radius: 5%;
}